.featuredProjects {
    border-top: 1px solid var(--border-color);
    width: 100%;
    padding: 1rem;
    /* background-color: light-dark(var(--secondary-accent-color-light), var(--secondary-accent-color)); */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    h1, h2, h3, h4, h5, h6 {
        line-height: 36px;
    }

    .textWrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0 1rem;
    }

    .featuredProjectsWrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 1rem;
    }

    .featuredProjectCard {
        border: 1px solid var(--border-color);
        min-width: 20rem;
        flex: 1 1 0;
        align-items: center;
        background-color: light-dark(var(--secondary-bg-color-light), var(--secondary-bg-color));
        border-radius: var(--border-radius);
        box-shadow: var(--background-shadow);

        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        overflow: hidden;
        padding-bottom: 1rem;

        .projectThumbnail {
            object-fit: cover;
            object-position: left top;
            height: 15rem;
            width: 100%;
        }

        .projectButtonContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            .button {
                padding: 0.5rem;
                border: 1px solid var(--border-color);
                border-radius: var(--border-radius);
                background-color: light-dark(var(--primary-bg-color-light), (--primary-bg-color));
                color: light-dark(var(--primary-text-color-light), var(--primary-text-color));
                box-shadow: var(--background-shadow);
                text-decoration: none;
                transition: all 150ms ease-out;

                &:hover {
                    background-color: light-dark(var(--secondary-accent-color-light), var(--secondary-accent-color));
                    transform: scale(1.05);
                }
            }
        }
    }
}

