#root {
  // max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-grid {
  display: grid;
  width: fit-content;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1 1fr);
  gap: 1rem;
  justify-items: center;
  padding: 0 1rem 1rem 1rem;
  justify-content: center;
  align-content: center;
  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(4, 1fr);
  }
}