* {
  // border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #142F43;
  --primary-accent-color: #FFAB4C;
  --secondary-accent-color: #FF5F7E;
  --tertiary-accent-color: #B000B9;
  --primary-bg-gradient: linear-gradient(0deg, rgba(20,47,67,1) 0%, rgba(176,0,185,1) 75%, rgba(255,95,126,1) 100%);
  --primary-text-color: rgb(255, 255, 255);
  --border-color: rgba(75, 75, 75, 0.8);
  --border-radius: 0.5rem;
  --background-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
  font-family: Rubik, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-text-color);
  
  // Background setup:
  background: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}
